$color: orange;

div {
	height: 100px;
	width: 255px;
	border: 1px solid black;
}

.color {
	background: $color;
}

.red, .blue, .green {
	float: left;
}

.red {
	background: red;
	width: unquote(red($color) + "px");
}

.blue {
	background: blue;
}

.green {
	background: green;
}