$primary-color: #369;
$margin: 5px;
$padding: $margin + 1.5;

body {
	background: $primary-color;
	font-family: Futura, "Trebuchet MS", sans-serif;
	> h1 {
		font-size: 3em;
		color: #eee;
		margin: $margin 0 0 $margin;
	}
}

.entry {
	background: white;
	margin: $margin;
	padding: $padding;
	h1 {
		font-size: 1.2em;
		margin: 0px;
	}
	.date {
		font-size: 0.3em;
		color: $primary-color;
	}
	a {
		color: $primary-color;
	}
}

@mixin roundy($radius, $color) {
	border-radius: $radius;
 	border-top-right-radius: $radius *2;
 	border-bottom-left-radius: $radius *2;
 	a {
 		color: $color;
 	}
}

.box {
	@include roundy(4px, blue);
}

.button {
	@include roundy(2px, red);
  background: #345;
}


.bar {
	height: 14px;
	font-size: 10px;
	> div {
		float: left;
		clear: none;
	}
}

.menu {
	@extend .bar;
	background: #345;
}
