// Colors
$background: desaturate(#187, 30%);
$text-color: complement($background);
$highlighted-text-color: lighten($text-color, 20%); 

//also options for hue, mix, and opacity


//Text
/* something */
